<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Slot</th>
        <th>Cardio</th>
        <th>weight</th>
        <th>Image </th>
    </tr>
    {% for members in gym_members %}
    <tr>
         <th>{{ members.name }}</th>
        <th>{{ members.age }}</th>
        <th>{{ members.slot }}</th>
        <th>{{ gym.cardio }}</th>
        <th>{{ gym.weight }}</th>
        <th>{{ gym.image }} </th>
    </tr>
    {% endfor %}
</table>
</body>
</html>